body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}
ul {
  margin-top: 25px;
  /* margin-left: 200px;*/
  float: right;
  
  width: auto;
  height: 80px;

}
ul li {
  display: inline;
  
  margin-top: 25px;
  padding: 20px;
  flex-wrap: wrap;
  transition: .5s;
  border-radius: 15px;
  background-color: rgb(20, 20, 20);

}
ul li a {
  text-decoration: none;
  color: rgb(246, 246, 246);
  font-size: 20px;
}


ul li:hover {
    background-color: rgb(2, 98, 146);
    text-transform: uppercase;
    transition: .5s;
  
  }
/* p{
color: white;
background-color: rgb(22, 22, 22);

} */
input:focus{
font-size: 20px;
color: rgb(255, 0, 0);

}
.heading::before{
content: "hi";
font-size: 50px;
background-color: green;
color: wheat;

}
.heading h1 ::hover{
content: "";
top: 0;
bottom: 0;
left: 50%;
right: 60%;
width: 30%;
height: 50%;
font-size: 50px;
background-color: rgb(94, 43, 43);
color: rgb(174, 119, 18);

}

.heading::after{
  content: "hi";
  top: 0;
  bottom: 0;
  width: 30%;
  height: 50%;
  font-size:50px;
  background-color: rgb(19, 19, 19);
  color: rgb(255, 255, 255);
  
  }